#Ignore DS_Store file of Mac OS
*.DS_Store
*/*.DS_Store


#common files
*.jar
*.war
*.ear
*.class
/target.*
.checkstyle
*.log
*.txt

#IDEA Files
.idea
target
*.iml
*.ipr

#Eclipse files
.settings/
*.project
*.metadata
*.classpath
